$base-color:#00000086;

@media (min-width: 768px) {
    .group{
        margin: 100px auto;
        .card{
        max-width: 820px;
        margin: 80px auto;
        padding:25px;
        border: none;
        }
        .text-container{
            max-width: 420px;
            word-wrap:break-word;
            margin-top: 120px;
            p{
                line-height: 28px;
                color: $base-color;
                text-align: justify;
            }
        }
    }
    .profile-pic{
        border-radius: 5px;
        margin-top: 50px;
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .group{
        margin: 70px auto;
        .card{
        max-width: 820px;
        border: none;
        }
        .text-container{
            max-width: 420px;
            word-wrap:break-word;
            margin: auto;
            padding-top: 30px;
            display: block;
            align-items: center;
            p{
                line-height: 28px;
                color: $base-color;
                text-align: justify;
            }
        }
    }
    .profile-pic{
        border-radius: 5px;
        margin-top: 50px;
        max-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.line{
    border-bottom: 3px solid rgb(44, 44, 44);
    width: 120px;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.h3,h3 {
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 500;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
