{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="group">
    <div class="card">
        <div class="row">
            <div class="col-md-6 col-12">
                <img class="img-fluid profile-pic" src="{% static 'images/profile.jpeg' %}" alt="">
            </div>
            <div class="col-md-6 col-12 text-container">
                <div class="heading">
                    <h3>About</h3>
                    <div class="line"></div>
                </div>
                <p>My name is Joise, I am a Web and UI Designer based in Kerala, India</p>
                <p>I planned on creating a design every week day until I reach 100 days total, to practice and improve my skills.</p>
                <p>I created this website to be able to share these designs as well as some web template with anybody who is interested in using them as inspiration or research material. I am hoping this project also takes me out of my comfort zone and provides new challenges. I'm planning to get better at development as well, so lots of exciting things to look out for!</p>
                <p>If you're interested in my journey stay tuned, and if you'd like to get in touch feel free to drop me a <a class="link" href="{% url 'contact' %}">message</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}