{% extends 'base.html' %}
{% block title %}{{category_name}} Projects{% endblock title %}
{% block content %}
{% load static %}
<div class="group">
    <div class="card banner shadow">
        <h3>Category</h3>
        <small class="text-muted">{{category_name}} Projects</small>
    </div>
    <div class="mt-5">
        <div class="row">
            {% for project in category_projects %}
            <div class="col-md-4 col-xxl-3 p-2 con">
                <a href="{% url 'projects:project-detail' project.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to know more">
                    <div class="card project-card" id="card">
                        <img src="{{project.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Filter Category"><div class="software-item
                            {% if project.category == 'Figma' %}figma{% endif %}
                            {% if project.category == 'Sketch' %}sketch{% endif %}
                            {% if project.category == 'XD' %}xd{% endif %}
                            {% if project.category == 'Bootstrap' %}bootstrap{% endif %}">
                            </div></a>
                            <h5 class="card-title">{{project.title}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock content %}