{% extends 'base.html' %}
{% block title %}Projects{% endblock title %}
{% block content %}
{% load static %}
<div class="group">
    <div class="card banner shadow">
        <small>DON'T MISS OUT THE LATEST</small>
        <h3>Weekly FREE UI Resources</h3>
        <small class="text-muted">Free UI designs and Bootstrap templates</small>
    </div>
    <div class="mt-5">
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4 col-xxl-3 p-2 con">
                <a href="{% url 'projects:project-detail' project.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to know more">
                    <div class="card project-card" id="card">
                        <img src="{{project.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title mt-2">{{project.title}}</h5>
                                </div>
                                <div class="col-12">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock content %}