{% extends 'base.html' %}
{% block content %}

<div class="group">
    <div class="card banner shadow">
        <small>DON'T MISS OUT THE LATEST</small>
        <h3>Weekly FREE UI Resources</h3>
        <small class="text-muted">Free UI designs and Bootstrap templates</small>
    </div>
    <div class="mt-5">
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4 col-xxl-3 p-2">
                <div class="card project-card">
                    <img src="{{project.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text">{{project.description|truncatechars:20}}</p>
                        <a href="#" class="btn shadow-none view-project-btn">Go somewhere</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock content %}