{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="group">
    <div class="card banner shadow">
        <small>DON'T MISS OUT THE LATEST</small>
        <h3>Weekly FREE UI Resources</h3>
        <small class="text-muted">Free UI designs and Bootstrap templates</small>
    </div>
    <div class="mt-5">
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4 p-2">
                <div class="card project-card">
                    <img src="{{project.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <h5 class="card-title">{{project.title}}</h5>
                            </div>
                            <div class="col-3">
                                <a href="#" class="btn shadow-none view-project-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download project file"><img src="{% static 'images/download-icon.svg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock content %}