{% load static %}
{% url 'projects:project-home' as project_home %}
{% url 'about' as about %}
{% url 'contact' as contact %}

<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'projects:project-home' %}"><img class="nav-logo" src="{% static 'images/logo.svg' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.path == project_home %}active{% endif %}" aria-current="page" href="{% url 'projects:project-home' %}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == about %}active{% endif %}" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item {% if request.path == contact %}active{% endif %}">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>