.project-card{
      .view-project-btn {
        color: #212529;
        background-color: #ffffff;
        border-color: #212529;
        border-radius: 3px;
        width: 100%;
      }
    
      .view-project-btn:hover,
      .view-project-btn:active,
      .view-project-btn:focus,
      .view-project-btn.active {
        background: #212529;
        color: #ffffff;
        border-color: #212529;
        
      }
      .software-item{
        border: 1px solid #EBEBF2;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 0;
        width: 42px;
        height: 42px;
        background-color: #F7F7FC;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: 42px;
        font-size: 14px;
        color: #7D7A9E;
        margin-left: 10px;
        position: relative;
      }
      .software-item.sketch {
        background: url(../../images/icon/sketch.svg) no-repeat center #fff;
      }
      .software-item.figma {
        background: url(../../images/icon/figma.svg) no-repeat center #fff;
      }
      .software-item.xd {
        background: url(../../images/icon/xd.svg) no-repeat center #fff;
      }
      .software-item.bootstrap {
        background: url(../../images/icon/bootstrap.svg) no-repeat center #fff;
      }
}

.categories{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 20px;
  font-family: Poppins;

  .software-item{
    width: 42px;
    height: 42px;
    background-color: #F7F7FC;
    border: 1px solid #a7a7a7;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    color: #7D7A9E;
    margin-left: 10px;
    position: relative;
  }
  .software-item.all {
    background: url(../../images/icon/All.svg) no-repeat center #fff;
  }
  .software-item.Sketch {
    background: url(../../images/icon/sketch.svg) no-repeat center #fff;
  }
  .software-item.Figma {
    background: url(../../images/icon/figma.svg) no-repeat center #fff;
  }
  .software-item.XD {
    background: url(../../images/icon/xd.svg) no-repeat center #fff;
  }
  .software-item.Bootstrap {
    background: url(../../images/icon/bootstrap.svg) no-repeat center #fff;
  }
}

.group{
    margin: 100px 0 0 0;
}

.banner{
    padding: 2rem;
    width: 100%;
    text-align: center;
    color:black;
    background: #ffff;
}

.con{
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }
  a{color: #212529;}
}

.card-title{
  margin-top: -15px;
}