.project-card{
      .view-project-btn {
        color: #212529;
        background-color: #ffffff;
        //border-color: #212529;
        border-radius: 3px;
        width: 100%;
      }
 /*     
      .view-project-btn:hover,
      .view-project-btn:active,
      .view-project-btn:focus,
      .view-project-btn.active {
        background: #212529;
        color: #ffffff;
        border-color: #212529;
        
      }*/
}

.group{
    margin: 100px 0 0 0;
}

.banner{
    padding: 2rem;
    width: 100%;
    text-align: center;
    color:black;
    background: #ffff;
}

.hide{
  display: none;
}